<!DOCTYPE html>
<html>
<body>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title -供应商授权</title>*@

    @RenderBody()
</body>


</html>
