<!doctype html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="~/css/weui.min.css" />
    <style type="text/css">
        #remark {
            font-size: 20px;
        }
    </style>
    <title>意见反馈</title>
</head>

<body>

    <div class="container mt-2">

        <form action="#">
            <textarea class="form-control mb-5" type="text" rows="3" cols="350" id="sample5" placeholder="请描述您的问题或建议，我们会尽快优化体验，感谢您的反馈"></textarea>
        </form>
        <button type="button" class="weui-btn weui-btn_primary">
            提交
        </button>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('button').on('click', function () {

                alert('反馈成功');
            });
        });
    </script>
</body>

</html>