@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="cmn-Hans-CN">
<head>
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="zdd">
    <meta name="description" content="order" />
    <meta name="keywords" content="order, orderList" />
    <meta name="robots" content="noindex, nofollow" />

    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    @* 样式引入和脚本引入可以使用 bundle 技术优化，后期再说 *@
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 WeUI -->
    <link href="~/css/weui.min.css" rel="stylesheet">
    <!-- 自己的样式表 -->
    <link href="~/css/buycar/buycar2.css?v=2" rel="stylesheet">
    <!-- short icon-->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon" type="image/png">
    <link rel="stylesheet" href="~/css/alertify.core.css" />
    <link rel="stylesheet" href="~/css/alertify.bootstrap.css" />
    <link rel="stylesheet" href="~/css/toastify.css" />
    <title>已提交商品</title>
</head>
<body ontouchstart>
    <div class="custom-container">
        <div id="void_page" style="display:none;">
            <div class="text-center">
                <img src="~/images/empty.jpg" width="300" />
            </div>
            <h4 id="void_reason" class="mt-4 text-center text-muted">网络出现问题</h4>
        </div>
        <div class="cell-container bottom-position">
            <div class="weui-cells">

            </div>
        </div>

        <div id="buycar">
            <div class="bottom-container">
                <div id="total-money-container" style="width: 68%; background: white; border: 1px solid #eee;">
                    <span style="padding-left: 20px;">合计:</span><span id="money">0</span>
                </div>
                <button id="mt" class="btn" style="background: #1aad19; color: white;border-radius: 0;width:32%">
                    进入订单类型
                </button>
            </div>
        </div>

        <div id="loadingToast" style="display:none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">数据加载中</p>
            </div>
        </div>

        <div id="toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">已完成</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/mescroll.min.js"></script>
    <script src="~/js/weui.min.js"></script>
    <script src="~/js/alertify.min.js"></script>
    <script src="~/js/toastify.js"></script>
    <script>
    window.alert = function (name) {
        var iframe = document.createElement("IFRAME");
        iframe.style.display = "none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        window.frames[0].window.alert(name);
        iframe.parentNode.removeChild(iframe);
    }
    //重写confirm方法，去掉地址显示
    window.confirm = function (name) {
        var iframe = document.createElement("IFRAME");
        iframe.style.display = "none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        var result = window.frames[0].window.confirm(name);
        iframe.parentNode.removeChild(iframe);
        return result;
    }
    window.prompt = function (name) {
        var iframe = document.createElement("IFRAME");
        iframe.style.display = "none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        var result = window.frames[0].window.prompt(name);
        iframe.parentNode.removeChild(iframe);
        return result;
    }
    $(function () {
        var page = {num: 1, size: 5000};
        var datas = [];
        //TODO 网络请求获取购物车商品
        $.ajax({
            url: 'https://api.gopas.com.cn/api/Agent/GetShoppingCart?openid=@ViewData["openId"]&companyid=2',
            type: 'GET',
            dataType: 'json',
            beforeSend: function (res) {
                $("#loadingToast").show();
            },
            success: function (res) {
                console.log(JSON.stringify(res))
                if (res.Code===200) {
                    datas = res.Datas;
                    setListData(res.Datas);
                } else {
                    alert(JSON.stringify(res));
                }      
            },
            error: function (res) {
                alert('获取失败' + JSON.stringify(res))
            },
            complete: function () {
                $("#loadingToast").hide();
            }
        });

        function setPrice(tempList) {
            var prices = 0;

            for (var x = 0; x < tempList.length; x++) {
                prices += tempList[x].Numbers * tempList[x].Price;
            }
            $('#money').text(prices);
            if (!tempList.length) {
                $('.cell-container').removeClass('cc-container');
                $('#void_page').show();
                $('#void_reason').text('材料为空');
            }

        }


        function setListData(list) {
            var result = '';
            var prices1 = 0;
            for (var i = 0; i < list.length; i++) {
                prices1 += list[i].Numbers * list[i].Price;
                var jsonStr = JSON.stringify(list[i]);
                console.log(jsonStr);
                result +=
                    '<div class="weui-media-box weui-media-box_text" id=' + list[i].Id + '>' +
                    '<h4 class="weui-media-box__title">' + list[i].Name + '</h4>' +
                    '<p class="weui-media-box__desc">' + list[i].ItemNumbers + '</p>' +
                    '<p class="weui-media-box__title text-danger">' + '单价：' + list[i].Price + '</p>' +
                    '<p class="weui-media-box__title text-danger">' + '数量：' + '<span class=' + list[i].Id + '>' + list[i].Numbers + '</span>' + '</p>' +
                    '<div class="mf_button_container">' +
                    '<button id="mf_add" class="btn btn-light" data-flag=' + list[i].Id + '>' + '编辑' + '</button>' +
                    '<button id="mf_delete" class="btn btn-danger"data-flag=' + list[i].Id + '>' + '删除' + '</button>' +
                    '</div>' +
                    '</div>'

            }
            $('#money').text(prices1);
            if (list.length > 0) {
                $('.weui-cells').append(result);
            } else {
                $('.cell-container').removeClass('cc-container');
                $('#void_page').show();
                $('#void_reason').text('材料为空');
            }
        }


        $('.weui-cells').on('click', '#mf_delete', function () {
            var data_flag = $(this).attr('data-flag');

            var materialModel = null;
            for (var i = 0; i < datas.length; i++) {
                if (datas[i].Id == data_flag) {
                    materialModel = datas[i];
                    break;
                }
            }
            var $loadingToast = $('#loadingToast');
            var $successToast = $('#toast');
            if ($loadingToast.css('display') !== 'none') return false;
            if ($successToast.css('display') !== 'none') return false;
            $.ajax({
                url: 'https://api.gopas.com.cn/api/Agent/DeleteShoppingCart?openid=@ViewData["openId"]&companyid=2&Id=' + materialModel.Id,
                type: 'GET',
                dataType: 'json',
                beforeSend: function (res) {
                    $(".weui-toast__content").html("删除中");
                    $("#loadingToast").show();
                },
                success: function (res) {
                    if (res.Code === 200) {
                        for (var z = 0; z < datas.length; z++) {
                            if (datas[z].Id === materialModel.Id) {
                                datas.splice(z, 1);
                            }
                        }
                        $('#' + materialModel.Id).remove();
                        setPrice(datas);
                    } else { 
                        alert('删除失败' + JSON.stringify(res))
                    }                 
                },
                error: function (res) {
                    alert('删除失败' + JSON.stringify(res))
                },
                complete: function () {
                    $("#loadingToast").hide();
                }
            })
        });

        $('.weui-cells').on('click', '#mf_add', function () {
            var data_flag = $(this).attr('data-flag');
            console.log(datas)
            var materialModel = null;
            for (var i = 0; i < datas.length; i++) {
                if (datas[i].Id == data_flag) {
                    materialModel = datas[i];
                    break;
                }
            }

            var $loadingToast = $('#loadingToast');
            var $successToast = $('#toast');
            if ($loadingToast.css('display') != 'none') return false;
            if ($successToast.css('display') != 'none') return false;
            alertify.set({
                labels: {
                    ok: "确认",
                    cancel: "取消"
                }
            });
            alertify.prompt("请填写物品数量", function (e, str) {
                if (e) {
                    var count = parseInt(str);
                    if (count && !isNaN(count)) {
                        $.ajax({
                            url: 'https://api.gopas.com.cn/api/Agent/ModifyShoppingCart?openid=@ViewData["openId"]&companyid=2',
                            type: 'POST',
                            dataType: 'json',
                            data: JSON.stringify({
                                "openid": '@ViewData["openId"]',
                                "companyid": 2,
                                "ShoppingCarts": [{
                                    "Id": materialModel.Id,
                                    "Numbers": parseInt(count)
                                }]
                            }),
                            beforeSend: function (res) {
                                $(".weui-toast__content").html("编辑中");
                                $("#loadingToast").show();
                            },
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {
                         
                                for (var z = 0; z < datas.length; z++) {
                                    if (datas[z].Id === materialModel.Id) {
                                        datas[z].Numbers = parseInt(count);
                                    }
                                }
                                $('.' + materialModel.Id).text(parseInt(count));
                                setPrice(datas);
                            },
                            error: function (res) {
                                alert('编辑失败' + JSON.stringify(res))
                            },
                            complete: function () {
                                $("#loadingToast").hide();
                            }
                        })
                    }
                } else {

                }
            }, "");

        });
        $('button#mt').on('click', function () {
               if (datas.length) {
                      window.location.href = "@Url.Action("OrderType", "OrderType")" + "?openid=" + '@ViewData["openId"]';
                    } else {
                        Toastify({
                            text: "请先添加材料！",
                            duration: 2000,
                            positionLeft: true,
                        }).showToast();
                        return false;
                    } 
        });

    });
    </script>
</body>
</html>
