@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>安装凭证</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/weixin.css">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/delivery.css">

</head>
<body>
    <div class="mq_container">
        <div id="loadingToast" style="display:none;">
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">剩余主材</p>
            </div>
        </div>

        <div class="container">
            <div class="page uploader js_show">
                <div class="weui-uploader">
                    <h3>请上传安装凭证</h3>
                    <div class="weui-uploader__bd" id="pics">                      
                        <div class="weui-uploader__input-box" id="uploads">
                            <input id="uploaderInput" class="weui-uploader__input" type="button"/>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <a href="javascript:;" class="weui-btn weui-btn_primary upload-my font-color" id="upload">上传凭证</a>
    </div>
        <script id="error_page" type="text/html">
            <img src="~/images/ic_error.page.jpg" width="200" height="150" alt="网络错误" class="error_page">
        </script>
        <script id="picture" type="text/html">
            <img class="weui-uploader__file" src="{{localData}}" alt="图片">
        </script>
     

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/art-template.js"></script>
        <script src="~/js/weixin-jssdk.js"></script>
        <script>
            $(function () {              
                //网络错误
                function neterror() {
                    $('#loadingToast').hide();
                    var htmlerror = template('error_page', "");
                    $('.mq_container').html(htmlerror);
                }
                //上传
                $("#upload").click(function () {                                              
                    if ($('#pics').children("img").length < 1) {
                        alert("请上传凭证");
                        return;
                    }
                    let pictures = [];
                    for (let i = 0; i < $('#pics').children("img").length; i++) {
                        var img = $('#pics').children("img").eq(i).attr("src");
                        pictures.push(img);
                    }
                    //上传凭证
                    $.ajax({
                        url: 'https://dingtalk.microfeel.net:12401/api/Supplier/Install',
                        type: "POST",
                        dataType: 'json',
                        beforeSend: function (res) {
                            $(".weui-toast__content").html("上传中");
                            $("#loadingToast").show();
                        },
                        data: {
                            BillID:  '@ViewData["billID"]',
                            Pictures: pictures
                        },
                        success: function (res) {
                            alert('上传成功');
                            window.history.go(-1);
                        },
                        error: function (res) {
                            alert('上传失败'+JSON.stringify(res));
                        },
                        complete: function () {
                            $("#loadingToast").hide();
                        }
                    });
                });
       
               
            
                wx.config({
                debug: false,
                appId: 'wxc02e3e49cd60997c', // 必填，公众号的唯一标识
                timestamp: '@ViewData["timestamp"]', // 必填，生成签名的时间戳
                nonceStr: '@ViewData["nonceStr"]', // 必填，生成签名的随机串
                signature: '@ViewData["signature"]',// 必填，签名
                jsApiList: ['uploadImage','chooseImage'] // 必填，需要使用的JS接口列表
                })
                window.value = 0;

                $('#uploaderInput').click(function () {
                 wx.chooseImage({
                     count: 9 - window.value, // 默认9
                     sizeType: ['compressed'],
                     sourceType: ['album', 'camera'],
                     success: function (res) {
                         var localIds = res.localIds;
                         for (let i = 0; i < localIds.length; i++) {

                             wx.getLocalImgData({
                                 localId: localIds[i], // 图片的localID
                                 success: function (res) {
                                     //var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                                     window.value++;
                                     if (window.value === 9) {
                                         $("#uploaderInput").hide();
                                     }
                                     var data = { localData: res.localData };
                                     var html = template('picture', data);
                                     $('#uploads').before(html);
                                 }
                             });
                         }
                     }
                 });
             });
        });

        </script>
</body>
</html>